<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Ien/Desktop/Project/dfsf/WebAutoAmazon/src/test">
        <classes>
            <class name="user.AddressTests">
                <methods>
                    <include name="removeAddressTest"/>
                </methods>
            </class>
            <class name="home.HomeTests">
                <methods>
                    <include name="checkAddressText"/>
                </methods>
            </class>
            <class name="user.LoginTests">
                <methods>
                    <include name="testSuccessfulLogin"/>
                    <include name="openUserUniquePageTest"/>
                    <include name="testFailedLoginInvalidPassword"/>
                    <include name="testFailedLoginInvalidEmail"/>
                    <include name="testFailedLoginEmptyPassword"/>
                    <include name="testFailedLoginEmptyEmail"/>
                    <include name="testCreateNewUserAccount"/>
                </methods>
            </class>
            <class name="product.ProductTests">
                <methods>
                    <include name="testSearchValidItem"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>